body {
  background-color: slategray;
  background-image: url("images/resource-database-yxYSF5pHy7c-unsplash.jpg");
  color: teal;
  background-size: cover;
  font-style: oblique;
}

#Bad-Boy-Bakery {
  font-family: 'Times New Roman', Times, serif;
  border:  blue 4px solid;

}

#Bongo-Java {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: chocolate 10px dotted;
  
}

#Youtube {
  border: red double 4px;
}

article {
  padding: 10px;
}
 h2 {
  color: yellow;
 }
