body {
  background-color: slategray;
  background-image: url("images/markus-spiske-xNuTNri-6Hs-unsplash.jpg");
  color: lightblue;
  background-size: cover;
  font-style: oblique;
}


#Bad-Boy-Bakery {
  font-family: 'Times New Roman', Times, serif;
  border:  blue 10px solid;

}

#Bongo-Guava-Java {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: chocolate 10px dotted;
  
}

#Times-Magazine {
  border: red double 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

article {
  padding: 10px;
}

 h2 {
  color: yellow;
 }
